/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";

body {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 50px;
}

.jumbo {
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    object-fit: cover;
}


footer {
    background-color: #d41c63;
}

.text-e {
    color: white;
}

.card-title {
    color: white;
    font-weight: bold;
}

.title-show {
    color: white;
    text-align: center;
}

.img-container {
    width: 300px;
    margin: 0 auto;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

}

.bottom-card {
    background-color: rgb(238, 181, 25);
}

.position-absolute {
    bottom: -12px;
    right: 18px
}

main {
    background-color: #0A0D2F;
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    display: block;
}

.bg-card-color {
    background-color: #0A0D2F;
    color: white;
}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.show-text {
    color: white;
}